:root {
  --red: rgb(239, 36, 93);
  --red-light: rgb(250, 72, 123);
  --black: rgb(53, 51, 51);
  --gray: rgb(75, 74, 74);
  --purple: rgb(173, 25, 236);
  --purple-light: rgb(206, 116, 245);
  --milk: #f3f2ef;
  --white: #ffffff;
}

html {
  background-color: var(--milk);
}

.App {
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 60vh;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  padding: 3px 0;
  background-color: var(--white);
}

.filtered-marker {
  border-radius: 0 !important;
  outline: 3px solid var(--white);
}

.red-marker {
  background-image: url('/public/camera.svg');
  background-color: var(--red);
  border-radius: 5rem;
  border: 5px solid var(--red);
  padding: 0.8rem;
  box-shadow: 3px 3px 20px var(--red-light);
}

.black-marker {
  background-image: url('/public/camera.svg');
  background-color: var(--black);
  border-radius: 5rem;
  border: 5px solid var(--black);
  padding: 0.8rem;
  box-shadow: 3px 3px 20px var(--gray);
}

.purple-marker {
  background-image: url('/public/camera.svg');
  background-color: var(--purple);
  border-radius: 5rem;
  border: 5px solid var(--purple);
  padding: 0.8rem;
  box-shadow: 3px 3px 10px var(--purple-light);
}
